<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
    <h1>All About Amanda</h1>
    <!--This is a welcoming statement-->
    <p>Welcome to learning a little more about myself, Amanda. Thank you for being here!</p>
    <h2>Professional Path</h2>
    <p>I am a <strong><em>senior</em></strong> at the University of Maryland's Robert H. Smith School. I am majoring in <strong>Marketing</strong> and <strong>Information Systems</strong>. After graduating in May 2023, I will be joining Morgan Stanley as an Operations analyst. </p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="'">
    <p><em>Important</em> college courses I have taken:</p>
    <!--This is a table with some college courses and the semesters I have taken them in-->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT484</td>
            <td>Spring 2022</td>
        </tr>
    </table>
    <h2>Personal Insights</h2>
    <p>I grew up in Ellicott City, Maryland with my mother, father, and older brother. Family and friends are <em>very</em> important to me. </p>
    <p>Some <strong>hobbies</strong> I enjoy: </p>
    <ul>
        <li>Playing tennis</li>
        <li>Practicing photography</li>
        <li>Crocheting</li>
        <li>Going on hikes</li>
    </ul>
    <p>My travel bucket list:</p>
    <ol>
        <li>London, England</li>
        <li>Paris, France</li>
        <li>Seoul, South Korea</li>
        <li>Sydney, Australia</li>
    </ol>

    <p>Two of my favorite websites:</p>
    <!--Listed below are my two favorite websites. They will open in a new tab when the link is clicked on-->
    <ul>
        <li>A link to my <a href="https://amazon.com/" target="_blank">favorite website</a></li>
        <li>A link to my <a href="https://www.youtube.com" target="_blank">second favorite website</a></li>
    </ul>
    <p>A link to my <a href="/hello">hello page</a></p>

</body>
</html>